@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
html,body{
    overflow: hidden;
    height: 100%;
    background: linear-gradient(#000000cc,#000000ed),url(../images/background.jpg) center;
    background-size: cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding-bottom: 13px;
}

.center a{
    width: 300px;
    height: 300px;
    border-radius: 11px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.center a:nth-child(1){
    background: url(../images/level1.png);
    background-position: right;
}

.center a:nth-child(2){
    background: url(../images/level2.png);
    background-position: center;
}
