
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    background: yellow;
}
.flex .box{
    width: 120px;
    height: 120px;
    
}
.flex .box:nth-child(1){
    background: black;
}

.flex .box:nth-child(3){
    background:red;
}
.flex .box:nth-child(2){
    background: green;
}
@media (max-width:480px) {
   .flex{
    flex-direction: column;
   }
}

