/* Normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: #28a745
}

.hidden{
    display: none;
}

a.btn {
    padding: 15px 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
    border-color: transparent;
    font-size: 15px;
    text-decoration: none;
}
a.btn:hover{
    opacity: 0.9;
}

/* Start Header Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    color: var(--main-color);
    font-size: 30px;
}

header .logo i {}

header .logo span {
    color: white;
}

header ul.menu {
    list-style-type: none;
    display: flex;
}

header ul.menu a {
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    padding: 0 20px;
}

header ul.menu a:hover::after {
    display: initial;
}

header ul.menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: var(--main-color);
    display: none;
}

header ul.menu a li {
    color: white;
}

/* End Header Style */


/* Start home section */
.home-section {
    padding-top: 20px;
    height: 100vh;
    background: linear-gradient(black, transparent, black),
        url(image_resources/home/showcase.jpg) no-repeat fixed center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section div {
    color: white;
    font-size: 50px;
    text-align: center;
}

.home-section div h1 {
    font-size: 20px;
    margin: 20px;
}

/* End home section */

/* Start About Section */
.about-section{
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.about-section .box{

}
.about-section .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about-section i{
    color: white;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.about-section .box .title{
    font-weight: bold;
    color:#333;
    font-size: 20px;
}
.about-section .box p{
    padding: 0 20px;
}
/* End About Section */


/* Start solution section */
.solution-sction{
    height: 500px;
    display: flex;
}
.solution-sction .image{
    background: url(image_resources/home/people.jpg)  no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
}
.solution-sction .text{
    flex: 1;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.solution-sction .text .sub-title{
margin-bottom: 20px;
}
.solution-sction .text .title{
    font-size: 50px;
}
.solution-sction .text .describe{
    margin: 20px 0 30px 0;
}
.solution-sction .text .btn{
    border: 2px solid;
    font-size: 20px;
    padding: 8px 20px;
    width: 150px;
}
/* End solution section */

/* Start Cases Section */
.cases-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.cases-section .sub-title{
    font-weight: bold;
    margin-bottom: 30px;
}
.cases-section .title{
    font-size: 40px;
    margin-bottom: 30px;
}
.cases-section .images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px;
    justify-content: center;
}
.cases-section .images img{
    max-width: 24%;
}
/* End Cases Section */


/* Start Blog section */
.blog-sction{
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
}
.blog-sction .image{
    background: url(image_resources/home/blog.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
}
.blog-sction .text{
    flex: 1;
    background-color: #0284d0;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-sction .text .sub-title{
margin-bottom: 20px;
}
.blog-sction .text .title{
    font-size: 50px;
}
.blog-sction .text .describe{
    margin: 20px 0 30px 0;
}
.blog-sction .text .btn{
    border: 2px solid;
    font-size: 20px;
    padding: 10px 25px;
    width: max-content;
    background-color: transparent;
}
/* End Blog section */




/* Start Team Section */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.team-section .sub-title{
    font-weight: bold;
    margin-bottom: 30px;
}
.team-section .title{
    font-size: 40px;
    margin-bottom: 30px;
}
.team-section .images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px;
    justify-content: center;
}
.team-section .images img{
    max-width: 24%;
}
/* End Team Section */
