/* normalization */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    margin: 10px;
}
/* Start Header Style */

header .top {
    display: flex;
    align-items: center;
    background-color: #131921;
    padding: 0 8px;
    gap: 5px;
}


header nav {
    display: flex;
    justify-content: space-between;    
    background-color: #232f3e;
    padding: 10px;
}
header nav a:nth-of-type(1){
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none;
    padding: 16px 11px;
    border: 1px solid transparent;
}

header a:hover {
    border-color: white;
}

header span {
    font-weight: bold;
    display: block;
}

span.arrow {
    border: 4px solid grey;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    margin: 7px 0 0 4px;
    display: inline-block;
}

header .logo {
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position-x: -7px;
    background-position-y: -50px;
    height: 37px;
    width: 105px;
}

header .search {
    flex-grow: 1;
}

header .deliver-to {
    width: 70px;
}

header .deliver-to span {
    display: block;
}

header .deliver-to span:nth-child(1) {
    text-align: end;
    color: #ccc;
    font-size: 13px;
}

header .deliver-to span:nth-child(2) {
    font-weight: bold;
}

header .search {
    height: 40px;
    border-radius: 8px;
    position: relative;
}

header .search input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-left: 50px;
}

header .search input:focus-visible {
    outline-color: #f3a847;
}

header .search .icon {
    position: absolute;
    right: -4px;
    top: 0px;
    height: 100%;
    width: 44px;
    content: '';
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #febd69;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

header .search .icon:hover {
    background-color: #f3a847 !important;
}

header .search .search-by {
    position: absolute;
    left: -4px;
    top: 0px;
    height: 98%;
    width: 44px;
    content: '';
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    border-right: solid 1px #ccc;
}

header .search .search-by:hover {
    background-color: #ccc !important;

}

header .languages span {
    display: inline-block;
}

header .languages .flag {
    width: 34px;
    height: 19px;
    background-image: url(https://m.media-amazon.com/images/S/sash/fe2UeLQmJ11kKHN.png);
    background-position: 9px 167px;
    vertical-align: bottom;
    scale: .9;
}

header .languages .arrow {
    vertical-align: bottom;
}
header .cart{
    position: relative;
}
header .cart span {
    display: inline-block;
}

header .cart .icon {
    width: 39px;
    height: 29px;
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: -9px 112px;
    vertical-align: bottom;
}
header .cart .orders{
    content: '';
    position: absolute;
    top: -7px;
    left: 18px;
    color: #f08804;
    font-weight: bold;
    font-size: 19px;
}
/* End Header Style */

/*Start Sponsored Style*/
.sponsored{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
    border: solid #ccc;
}
.sponsored img.item{
    width: 50px;
    height: 60px;
}
.sponsored .describe{
max-width: 800px;
}
.sponsored .starts{
    display: flex;
    font-weight: bold;
}
.sponsored .starts img{
    width: 15px;
    height: 15px;
}
.sponsored .price{
display: flex;
}
.sponsored .price .prime{
    width: 50px;
}
.sponsored .coupon{
background-color: #f08804;
color: white;
padding: 8px;
border-radius: 8px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
position: relative;
}
.sponsored .coupon .skew{
    background-color: #f08804;
    height: 100%;
    width:20px;
    top: 0;
    position: absolute;
    transform: skewX(-10deg);
}

/*End Sponsored Style*/

/* Start Contianer Style */
.container{
    max-width: 1400px;
    margin: auto;
}
/* End Contianer Style */

/* Start detials product */

.product-detials .breadcrumb-navigation{
    display: flex;
    color: #232f3e;
    margin-bottom: 30px;
}
.product-detials .breadcrumb-navigation a{
    color: #232f3e;
    text-decoration: none;
    font-size: 13px;
}
.product-detials .breadcrumb-navigation a:hover{
    text-decoration: underline;
}
.product-detials .breadcrumb-navigation span{
    margin: 0 5px;
    font-size: 10px;
    padding-top: 2px;
}
.product-detials .detials{
    display: flex;
    gap: 30px;
    position: relative;
}
.product-detials .detials > div{
    flex: 2;
}
 a{
    color: #007185;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
    color: #f08804;
}
.product-detials .detials .left .sticky{
position: sticky;
display: flex;
top: 0;
left: 0;
}
.product-detials .detials .left .sticky .picture{
    position: relative;
}
.product-detials .detials .left .sticky .picture::after{
    content: "";
    height: 30px;
    width: 30px;
    background: url(https://m.media-amazon.com/images/G/01/share-icons/share-std.svg) no-repeat 3px 2px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 3px;
    border-radius: 50%;
}
.product-detials .detials .left .sticky .picture img{
  height: 600px;
  width: 600px;
}

.product-detials .detials .left .sticky .picture .hint{
    text-align: center;
    color: #232f3e;
}
.product-detials .detials .left .sticky .pictures{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-detials .detials .left .sticky .pictures img{
    border:solid 1px;
}
.product-detials .detials .center{

}
.product-detials .detials .center .brand{
    text-decoration: none;
    font-size: 14px;
}
.product-detials .detials .center .rating{
    display: flex;
}
.product-detials .detials .center .rating a{
    margin-left: 20px;
}

.stars{
    display: flex;
}
.stars img{
    width: 18px;
}
.product-detials .detials .center .price{
    display: flex;
}
.product-detials .detials .center .price .discount{
    font-size: 25px;
    color: #f05d0d;
    margin-right: 10px;
}
.product-detials .detials  .real-price .currency,
.product-detials .detials  .real-price .sub-number{
    font-size: 15px;
    height: 20px;
    vertical-align: top;
}
.product-detials .detials   .real-price .number{
    font-weight: bold;
    font-size: 25px;
}
.product-detials .detials .center  .list-price{
    font-size: 12px;
    color: rgb(148, 144, 144);
}
.product-detials .detials .center  .list-price span{
    text-decoration: line-through;
    margin-right: 2px;
}
.product-detials .detials .center  .list-price i{
    cursor: pointer;
}
.product-detials .detials .center  .list-price i:hover{
    color: #232f3e;
 }
.product-detials .detials .center  .list-price i:hover .pop-up{
display: inherit;
}
.product-detials .detials .center  .list-price i .pop-up{
    position: absolute;
    display: none;
    width: 300px;
    height: 200px;
    top: -3%;
    left: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px;
    background-color: white;
    padding: 20px;
}
.product-detials .detials .center  .list-price i .pop-up{
    font-size: 15px;
    margin-bottom: 10px;
}
.product-detials .detials  .fees {
    color: rgb(148, 144, 144);
    margin: 5px 0;
}
.product-detials .detials .center .coupon span {
background-color: #f08804;
padding: 1px 5px;
border-radius: 2px;
margin-right: 20px;
}
.product-detials .detials .center .terms{
    cursor: pointer;
}
.product-detials .detials .center .terms span{
color: #007185;
}
.product-detials .detials .center table{
    text-align: left;
}
.product-detials .detials .center .about ul{
padding: 10px 20px;
}
.product-detials .detials .right {
    flex: 1;
}
.product-detials .detials .right .data{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery div span,
.status{
    color: green;
}
.product-detials .detials .right .data{
    box-shadow: 0px 0px 3px;
    border-radius: 8px;
}
.delivery >div{
    margin-bottom: 10px;
}
.status {
    font-size: 20px;
}
.qty{
width: 70px;
border-radius: 10px;
padding: 3px;
cursor: pointer;
}
.btn{
    border-radius: 20px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.btn:focus{
    background-color: red;
}
.btn.yellow{
    background-color: #FFD814
}
.btn.yellow:hover{
background-color: #F7CA00;
}
.btn.orange{
    background-color: #FFA41C;
}
.btn.orange:hover{
    background-color: #f05d0d;
}
.secure i{
    margin-right: 10px;
    color: #999999
    
}
.ships,
.sold{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.add-to-list{
    padding: 10px;
    text-align: start;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 3px;
}
.product-detials .detials .right .sell-on-amazon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

.product-detials .detials .right .sell-on-amazon button{
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 3px;
    cursor: pointer;
}
    /* End detials product */

    section h3.title{
        color: #CC6600;
        font-size: 20px;
        margin: 20px 0;
    }
    /* Start Buy it with */
    .buy-it-with .title{
        margin-bottom: 10px;
    }
    .buy-it-with .products{
        display: flex;
        justify-content: space-between;
    }
    .buy-it-with .products img{
        width: 150px;
    }
    .buy-it-with .products .items{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .buy-it-with .products .items .plus{
        font-size: 30px;
        font-weight: bold;
    }
      span.price{
        color:#CC6504;
    }
    .buy-it-with .products .items .price .btn{
        display: block;
        padding: 8px;
        margin-top: 5px;
    }
    .buy-it-with p{
        display: inline-block;
    }
    .buy-it-with .info i{
        color: #007185;
        font-size: 18px;
    }
    /* End Buy it with */

    /* Start related-product */
    .carousel .products{
        display: flex;
        gap: 10px;
        padding: 0 30px;
        position: relative;
    }
    .carousel .products .image{
        width: 100%;
        height: 190px;
    }
    .carousel .products .product{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    section .prime{
        width: 30px;
    }
    .related-products .save{
        background-color: #79CF65;
        padding: 5px;
        font-size: 14px;
    }
    .carousel .buttons{
        position: absolute;
        left: -20px;
        top: 50%;
        padding: 9px 15px;
        font-size: 19px;
        box-shadow: 0 0 3px;
        border-radius: 8px;
        cursor: pointer;
    }
    .carousel .buttons:hover{
        background-color: #ccc;
    }
    .carousel .buttons.r-btn{
        right: -20px;
        left: unset;
    }
    /* End related-product */

    /* Start Customers serach */
    .search-customers .product{
        box-shadow: 0px 4px 3px 0px grey;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #ccc;
    }
    /* End Customers serach */

    /* Start Product info */
    .info-product .flex{
        display: flex;
        gap: 30px;
    }
    .info-product table{
        border-collapse: collapse;
    }
    .info-product table td{
        border: 1px solid #E7E7E7;
        border-right: 0;
    }
    .info-product table tr td{
        padding: 13px;
        font-size: 13px;
    }
    .info-product table tr td:first-of-type{
        background-color: #F3F3F3;
    }
    .info-product table tr td .rating .num{
        margin-left: 20px;
    }
    .info-product .warranty  .sup-title{
        font-size: 22px;
    }
    .info-product .warranty  .sup-title:nth-of-type(2){
    display: block;
    margin: 20px 0;
    }
    /* End Product info */

    /* Start product description */
    .product-description p{
        padding: 0 30px;
        margin-bottom: 20px;
    }
    /* End product description */