*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    overflow: hidden;
}
#grid{
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(15,1fr);
    height: 100vh;
    width: 100%;
}
.item{
    border: thin solid transparent;
    cursor: pointer;
}
.item:hover{
    border-color: red;
}
.dirt{
    background: url(images/block.png) center;
    background-size: contain;
}

.stone-block{
    background: url(images/stoneBlock.png) center;
    background-size: contain;
}
.wood-block{
    background: url(images/woodBlock.png) center;
    background-size: contain;
}
.grass-block{
    background: url(images/greenBlock.png) center;
    background-size: contain;
}