
.flex{
    display: flex;
    justify-content: space-around;
    background: black;
}
.logo{
    color: white;
}
ul{
    list-style-type: none;
    padding: 0;
}

ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 10px;
    color: red;
}
@media (max-width:480px) {
   .flex{
    flex-direction: column;
    text-align: center;
   }
}

