.spinners{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 20px;
height: 100vh;
background-color: black;
}

.spinners div{
width: 200px;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.spinners div:nth-of-type(1) div{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 5px solid;
   border-top-color: yellow;
   border-left-color: grey;
   border-right-color: grey;
   border-bottom-color: grey;
   position: relative;
   z-index: 1;
   animation:1s spinner1 infinite linear;
}


.spinners div:nth-of-type(2) div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid;
    border-top-color: yellow;
    border-left-color: yellow;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 1px;
    position: relative;
    z-index: 1;
    animation:1s spinner1 infinite linear;
 }

 @keyframes spinner1{
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



 .spinners div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
 }
 .spinners div:nth-of-type(3) div{
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
 }
 .spinners div:nth-of-type(3) div.ball{
    background-color: yellow;
    animation: move 3s infinite;
    position: absolute;
    top: 42.5%;
    left:22.5%;
    z-index: 1;
    visibility: hidden;
 }


@keyframes move {
   0%{
    visibility: visible;
    left: 22.5%;
   }
   50%{
    visibility: visible;
    left: 44%;
   }
   75%{
    visibility: visible;
    left: 64.5%;
   }
}


.spinners div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
 }
 .spinners div:nth-of-type(4) div{
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    scale: 0;
    animation-name: scale;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 

 .spinners div:nth-of-type(4) div:nth-of-type(2){
    animation-duration: 0.8s;
    animation-delay:1s;
 }

 .spinners div:nth-of-type(4) div:nth-of-type(3){
    animation-duration:0.8s;
    animation-delay: 1.5s;
 }
 @keyframes scale {
    to{
        scale: 1;
    }
   
 }