*{
   font-family: monospace;
}
td{
    border: 1px solid black;
    width: 50px;
    font-size: 30px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
}

td.first{
    color: black;
}